#box{
    height: 150px;
    width: 150px;
    background-color: blue;
    position: relative;
}

#line1{
    height: 150px;
    width: 10px;
    background-color: red;
    position: absolute;
    left: 20px;

}

#line2{
    height: 10px;
    width: 150px;
    background-color: red;
    position: absolute;
    top: 20px;
}